{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
            <h1 class="display-4">About</h1>
            </div>
            <hr>
            <div class="col-12">
            <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat</p>
            </div>
        </div>
    </div>
{% endblock %}